@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

h4 {
  font: 25px;
  font-family: 'Playfair Display', serif;
}

h3 {
  font: 20px;
  font-family: 'Playfair Display', serif;
}

.brand-logo {
  color: #571111;
  font: 50px;
  font-family: 'Playfair Display', serif;
  font-style: italic
}

#text{
  color:black
}

.nav-wrapper{
  background-color: #FFFFFF;
  padding-left: 10px;
}

#closet{
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  background-color: #ad1457;
  color: white;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
}


/* .circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000000;
  text-align: center;
  font: 32px Arial, sans-serif;
} */

#circle{
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  padding-bottom: 0;
  text-align: center;
  font-size: 50px;
  color: white;
  font-style: bold;
  /* border: 3px solid #000; */
  background: #ad1457
}
.circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  padding-bottom: 0;
  text-align: center;
  font-size: 50px;
  color: white;
  font-style: bold;
  /* border: 3px solid #000; */
  background: #ad1457
}
.image{
  width: 75px;
  height: auto;
  line-height: auto;
  border-radius: 50%;
  padding-bottom: 0;
  vertical-align: center;
  
}
.temp-desc {
  text-align: center;
  font-size: 15px;
}

#weatherspan{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  
  /* border: black solid; */
  
}

.temperatures{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  /* border: black solid; */
  
}


.column {
  width: 50%;
  /* border: black solid; */
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  /* justify-content: center; */
  justify-content:center;
  padding: 0px;
}

/* Clear floats after the columns */
/* .weatherSpan:after {
  content: "";
  display: table;
  clear: both;
} */

.card-container{
  /* width:250px;
  height:375x; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* border:#000000 solid; */
}

.random-card-container{
  /* width:250px;
  height:350px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* border:#000000 solid; */
} */


.random_card{
  width:187.5px;
  height:262.5px;
}

.clothingImage{
  width:187.5px;
  height:262.5px;
}

.card-image{
  padding: 12px;
  box-shadow: 10px 5px 10px rgb(185, 185, 185);
  margin-top: 10px;
  /* border: black solid */
  }

  #card{
    border: none
  }

/* The Modal (background) */
.closet_form {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* My Closet Collapsible */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}
.collapsibleCloset {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}