@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

h4 {
  font: 25px;
  font-family: 'Playfair Display', serif;
}
.brand-logo {
  color: #000000;
  font: 32px;
  font-family: 'Playfair Display', serif;
  font-style: italic
}

.brand-logo {
  color: #000000;
  font: 32px;
  font-family: 'Playfair Display', serif;
  font-style: italic
}

#closet, p{
  font-family: 'Montserrat', sans-serif;
  font-style: bold
}


/* .circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000000;
  text-align: center;
  font: 32px Arial, sans-serif;
} */


.circle {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  padding-bottom: 0;
  text-align: center;
  font-size: 32px;
  border: 3px solid #000;
}
.image{
  width: 100px;
  height: auto;
  line-height: auto;
  border-radius: 50%;
  padding-bottom: 0;
  vertical-align: center;
}
.temp-desc {
  text-align: center;
  font-size: 15px;
}

#weatherspan{
  display: inline
}

.card{
  width:250px;
  height:375x;
}

.clothingImage{
  width:250px;
  height:250;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}