@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

h4 {
  font: 25px;
  font-family: 'Playfair Display', serif;
}
.brand-logo {
  color: #000000;
  font: 32px;
  font-family: 'Playfair Display', serif;
  font-style: italic
}

.brand-logo {
  color: #000000;
  font: 32px;
  font-family: 'Playfair Display', serif;
  font-style: italic
}

#closet, p{
  font-family: 'Montserrat', sans-serif;
  font-style: bold
}




/* .circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000000;
  text-align: center;
  font: 32px Arial, sans-serif;
} */


.circle {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  padding-bottom: 0;
  text-align: center;
  font-size: 32px;
  border: 3px solid #000;
}
.image{
  width: 100px;
  height: auto;
  line-height: auto;
  border-radius: 50%;
  padding-bottom: 0;
  vertical-align: center;
}
.temp-desc {
  text-align: center;
  font-size: 15px;
}

#weatherspan{
  display: inline
}

